
$fondo-skup: radial-gradient(circle, rgb(255, 194, 208) 0%, rgba(255,132,160,1) 100%);
$fondo-baku: radial-gradient(circle, rgb(255, 126, 126) 0%, rgba(239,63,63,1) 100%);
$fondo-koko: radial-gradient(circle, rgb(177, 245, 153) 0%, rgba(115,197,87,1) 100%);
$fondo-donn: radial-gradient(circle, rgb(222, 194, 255) 0%, rgba(160,120,208,1) 100%);
$fondo-flidas: radial-gradient(circle, rgb(255, 176, 124) 0%, rgba(233,117,40,1) 100%);

$general: white;

$rojo: #f24646;
$rojo-oscuro: #d90b0c;

$amarillo: #ffda89;
$lila-oscuro: #ba9df4;

$naranja: #fd4111;

$verde: #81b23f;

$rosa: #fe76a6;