@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Londrina+Solid:wght@100;300;400;900&family=Press+Start+2P&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* Amatic SC; Londrina Solid; Press Start 2P */

$letra-titulo: calc(1rem + 2vw);
$letra-nombres: calc(2em + 1.8vw);
$letra-subtitulo: calc(1em + 0.8vw);
$letra-normal: calc(1em + 0.3vw);