.productos__grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px;



    .productos__grid--cogos{
        @include flex(row, center, center);

        .cogos__before{
            height: 250px;
            transform: rotate(-30deg);
        }
        .cogos__after{
            display: none;
        }
    }
    .productos__grid--cogos:hover{
        cursor: pointer;
        .cogos__before{
            display: none;

        }
        .cogos__after{
            height: 300px;
            display: initial;
        }
    }
}