.productos{
    .titulo{
        color: black;
    }
    padding-bottom: 60px;
}
.productos__grid{
    margin-top: 30px;
    
    padding-left: $margin-general;
    padding-right: $margin-general;

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas: "a1 a4 a2"
                         "a1 a3 a2"
                         "a5 a3 a6";
    row-gap: 20px;
    column-gap: 20px;


    .productos__grid-kits{

        position: relative;
        cursor: pointer;

        .grid-kits__fondo{
            filter: brightness(55%);
            transition: $time-transition;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            border-radius: $border-radius;
        }
        .enlace-titulo{
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;


            @include flex(row, center, center);
            text-decoration: none;

            p{
                text-transform: uppercase;
                text-align: center;
                font-family: 'Londrina Solid';
                font-size: 4.5em;
                text-shadow: 6px 6px 0px rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                transition: $time-transition;
            }
        }
       
    }
    .productos__grid-kits:hover{
    
        .grid-kits__fondo{
            -webkit-filter: blur($blur);
            -moz-filter: blur($blur);
            -o-filter: blur($blur);
            -ms-filter: blur($blur);
            filter: blur($blur);
            filter: brightness(80%);
        }
        a p{
            transform: scale(1.03, 1.03);
        }
    }
    .combo--baku{
        grid-area: a1;
    }
    .combo--flidas{
        grid-area: a3;
    }

    .productos__grid-cogos{
        grid-area: a2;
         @extend .productos__grid-kits;
         img{
            @extend .grid-kits__fondo;
        }

        a{
            @extend .enlace-titulo;
        }
    }
    .productos__grid-minis{

        grid-area: a4;

        @extend .productos__grid-kits;
        
        img{
            @extend .grid-kits__fondo;
        }

        a{
            @extend .enlace-titulo;
        }
    }
    .productos__grid-bandejas{
        @extend .productos__grid-kits; 
        grid-area: a5;
        img{
            @extend .grid-kits__fondo;
            object-position: center;
        }

        a{
            @extend .enlace-titulo;
        }
    }

    .productos__grid-pines{

        grid-area: a6;

        @extend .productos__grid-kits;
        
        img{
            @extend .grid-kits__fondo;
            object-position: center;
        }

        a{
            @extend .enlace-titulo;
        }
    }
}