$fondos:(
    "flidas": $fondo-flidas,
    "koko": $fondo-koko,
    "baku": $fondo-baku,
    "skup": $fondo-skup,
    "donn": $fondo-donn
);
.carousel-cogos{
    width: 100vw;
    height: 100vh;
    background-color: $rojo;
    @include flex(row, center, center); 
}
@each $nombre, $fondo in $fondos {
    .carousel-cogos--#{$nombre}{
        position: relative;
        background: $fondo;
        ##{$nombre}{
            width: 300px;
            position: absolute;
            animation-name: flotando;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out ;
            
        }
    }
}
